* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

#heading {
  text-align: center;
  margin-bottom: 15px;
}

#heading h1 {
  font-size: 3rem;

}

#heading p {
  font-size: 1.5rem;
}

#heading p{
  margin: 5px;
}

#img-div{
  margin: 5px;
  padding: 30px;
  background-color: white;
}

img{
  max-width: 100%;
  margin: 0 auto;
}

#img-caption{
  font-size: 1.7rem;
  margin: 15px;
}

#tribute-info{
  margin: 30px;

}

#tribute-info h3{
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}

