* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

#heading {
  text-align: center;
  margin-bottom: 15px;
}

#heading h1 {
  font-size: 3rem;

}

#heading h6 {
  font-size: 1.5rem;
}